<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../tests/bootstrap.php"
         stopOnFailure="true"
         stopOnError="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         stopOnWarning="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>

    <source>
        <include>
            <directory suffix=".php">../../src/TicketSystem</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <server name="APP_DEBUG" value="true" />
    </php>
    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
