<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../vendor/autoload.php"
         stopOnFailure="true"
         stopOnError="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         stopOnWarning="true"
         failOnWarning="true"
>

    <source>
        <include>
            <directory suffix=".php">../../src/TicketSystem</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="DATABASE_URL" value="mysql://root:root@db/ticket?serverVersion=10.2.15-MariaDB&amp;charset=utf8" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <server name="APP_DEBUG" value="false" />
    </php>
    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"></bootstrap>
    </extensions>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
