doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        driver: 'pdo_mysql'
        server_version: '5.7'
        charset: utf8
        default_table_options:
            charset: utf8
            collate: utf8_general_ci
        types:
            UserId: TicketSystem\User\Infrastructure\Domain\Doctrine\DoctrineUserId
            TicketId: TicketSystem\Ticket\Infrastructure\Domain\Doctrine\DoctrineTicketId
            Email: TicketSystem\Shared\Infrastructure\Doctrine\DoctrineEmail
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '15'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        auto_generate_proxy_classes: true
        entity_managers:
            default:
                mappings:
                    User:
                        is_bundle: false
                        type: xml
                        dir: "%kernel.project_dir%/src/TicketSystem/User/Infrastructure/Domain/Doctrine/Persistence/Mapping"
                        prefix: 'TicketSystem\User\Domain'

                    Ticket:
                        is_bundle: false
                        type: xml
                        dir: "%kernel.project_dir%/src/TicketSystem/Ticket/Infrastructure/Domain/Doctrine/Persistence/Mapping"
                        prefix: 'TicketSystem\Ticket\Domain'

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
