version: '3.8'

networks:
    ticket_network:
      name: ticket_network
      driver: bridge

services:
  php_ticket:
    build: php
    volumes:
      - ../:/var/www/html:cached
    networks:
       - ticket_network

  web:
    image: nginx:latest
    depends_on:
      - php_ticket
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../:/var/www/html:cached
    networks:
      - ticket_network
