export PHP_IDE_CONFIG="serverName=Unnamed"

POWERLEVEL9K_DISABLE_GITSTATUS=true

alias copydebug="cat /usr/local/bin/xdebug/xdebug.ini > /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
alias xdb="copydebug && echo 'xdebug.mode=develop,debug' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini && kill -USR2 1"
alias xcoverage="copydebug && echo 'xdebug.mode=develop,debug,coverage' >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini && kill -USR2 1"
alias xoff="copydebug && kill -USR2 1"
