services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  TicketSystem\User\Application\:
    resource: '%kernel.project_dir%/src/TicketSystem/User/Application/*'
    exclude: '%kernel.project_dir%/src/TicketSystem/User/Application/**/{*Request,*Response}'

  TicketSystem\User\Domain\UserRepository:
    class: TicketSystem\User\Infrastructure\Domain\Doctrine\DoctrineUserRepository
    arguments:
      $registry: '@doctrine'

  TicketSystem\User\Infrastructure\Symfony\Security\AccessToken\AccessTokenHandler:
    class: TicketSystem\User\Infrastructure\Symfony\Security\AccessToken\AccessTokenHandler

  TicketSystem\User\Infrastructure\Symfony\Security\AccessToken\AccessTokenRepository:
    public: true
    class: TicketSystem\User\Infrastructure\Symfony\Security\AccessToken\AccessTokenRepository
    arguments:
      $accessTokenExpirationInSeconds: '%env(resolve:ACCESS_TOKEN_LIFETIME)%'
      $client: '@accessTokenClient'

  TicketSystem\User\Domain\UserPasswordHasher:
    class: TicketSystem\User\Infrastructure\Domain\Symfony\Security\SymfonyUserPasswordHasher

  TicketSystem\User\Domain\UserPasswordVerifier:
    class: TicketSystem\User\Infrastructure\Domain\Symfony\Security\SymfonyUserPasswordVerifier

  TicketSystem\User\Infrastructure\Domain\Symfony\Security\DoctrineSecurityUserProvider:
    class: TicketSystem\User\Infrastructure\Domain\Symfony\Security\DoctrineSecurityUserProvider

  TicketSystem\User\Domain\Login\GenerateAccessToken:
    class: TicketSystem\User\Domain\Login\GenerateAccessToken

  TicketSystem\User\Domain\Login\StoreAccessToken:
    class: TicketSystem\User\Infrastructure\Domain\Login\Redis\Predis\PredisStoreAccessToken

  accessTokenClient:
    parent: TicketSystem\Shared\Infrastructure\Redis\Predis\Client
    arguments:
      $database: '%env(resolve:ACCESS_TOKEN_DATABASE)%'

when@test:
  services:
    TestUserRepository:
      alias: TicketSystem\User\Domain\UserRepository
      public: true
    TestUserPasswordHasher:
      alias: TicketSystem\User\Domain\UserPasswordHasher
      public: true
    TestUserPasswordVerifier:
      alias: TicketSystem\User\Domain\UserPasswordVerifier
      public: true
