services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false


  # Application
  TicketSystem\Ticket\Application\:
    resource: '%kernel.project_dir%/src/TicketSystem/Ticket/Application/*'
    exclude: '%kernel.project_dir%/src/TicketSystem/Ticket/Application/**/{*Request,*Response}'

  # Domain
  app.ticket.repository:
    class: TicketSystem\Ticket\Infrastructure\Domain\Doctrine\DoctrineTicketRepository
    arguments:
      $registry: '@doctrine'

  TicketSystem\Ticket\Domain\CreateTicket\CreateTicket:
    class: TicketSystem\Ticket\Domain\CreateTicket\CreateTicket
    arguments:
      $ticketRepository: '@app.ticket.repository'
      $userRepository: '@app.user.repository'

  TicketSystem\Ticket\Domain\NextTicket\NextTicket:
    class: TicketSystem\Ticket\Domain\NextTicket\NextTicket
    arguments:
      $ticketRepository: '@app.ticket.repository'
      $userRepository: '@app.user.repository'

when@test:
  services:
    TestTicketRepository:
      alias: app.ticket.repository
      public: true
