services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  TicketSystem\Ticket\Infrastructure\Communication\Http\Symfony\Controller\:
    resource: '%kernel.project_dir%/src/TicketSystem/Ticket/Infrastructure/Communication/Http/Symfony/Controller'
    tags: ['controller.service_arguments']
